button, ul.list-group.hover li:hover{
    cursor: pointer;
}
.block { 
    background-color:#EFEFEF;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #DDD;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.3);
   border-radius:3px;
 }

 span{
     color: rgb(175, 18, 13);
 }