 <ul class="list-group hover">
   <li class="list-group-item"  *ngFor="let employee of employeeList">
    <div class="block">
    <div class="row">
    <div class="col-md-11">
   <span>Name:</span> {{employee.first_name}} {{employee.last_name}},
   <span>Position:</span> {{employee.position}},
   <span>Email:</span> {{employee.email}},
   <span>Phone:</span> {{employee.phone}}
    </div>
    <div class="col-md-1">
    <button class = "button" class="btn btn-default" (click)="employee.editable = !employee.editable"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
    </div>
    </div>
    <app-employee-edit [employee]="employee" *ngIf="employee.editable"></app-employee-edit>
  </div>
  </li> 
 </ul>
